.names {
    position: absolute;
    height: 77%;
    width: 48%;
    left: 0;
    top: 0;
    margin: 1% 1% 1% 1%;
}

.buttonContainer {
    position: absolute;
    height: 18%;
    width: 20%;
    left: 0;
    bottom: 0;
    margin: 1% 1% 1% 1%;
}

.inputs {
    position:absolute;
    left: 21%;
    bottom: 0;
    height:18%;
    width: 27.5%;
    margin: 1% 1% 1% 1%;
}

.display {
    position: absolute;
    background: lightgray;
    width: 48%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 1% 1% 1% 1%;
}

.inputsChild {
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
}

.namediv {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    text-align: center;
}

.numberdiv {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, 25%);
}

textarea {
    width: 100%;
    height: 100%;
    background-color: beige;
    resize: none;
}

b {
    font-size: 1000%;
}

button {
    height: 100%;
    width: 100%;
}